extends layout

block content
	#banner
		img(src='/img/ocdpBanner.png')
	#newDevices 
		div(class='card', style='width: 33.3%; float: left;')
			div(class='card-image waves-effect waves-block waves-light')
				img(class='activator', src='/img/devices/MT90.jpg')
			div(class='card-content')
				span(class='card-title activator grey-text text-darken-4') Meitrack MT90
					i(class='material-icons right') more_vert
				p A personal GPS tracker
			div(class='card-reveal')
				span(class='card-title grey-text text-darken-4') Meitrack MT90
					i(class='material-icons right') close
				p It's waterproof
		div(class='card', style='width: 33.3%; float: left;')
			div(class='card-image waves-effect waves-block waves-light')
				img(class='activator', src='/img/devices/MT90.jpg')
			div(class='card-content')
				span(class='card-title activator grey-text text-darken-4') Meitrack MT90
					i(class='material-icons right') more_vert
				p A personal GPS tracker
			div(class='card-reveal')
				span(class='card-title grey-text text-darken-4') Meitrack MT90
					i(class='material-icons right') close
				p It's waterproof
		div(class='card', style='width: 33.3%; float: left;')
			div(class='card-image waves-effect waves-block waves-light')
				img(class='activator', src='/img/devices/MT90.jpg')
			div(class='card-content')
				span(class='card-title activator grey-text text-darken-4') Meitrack MT90
					i(class='material-icons right') more_vert
				p A personal GPS tracker
			div(class='card-reveal')
				span(class='card-title grey-text text-darken-4') Meitrack MT90
					i(class='material-icons right') close
				p It's waterproof
	