doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/materialize.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		script(src='/js/jquery-2.1.4.min.js')
		script(src='/js/materialize.js')		
	body
		#main
			nav(style='background: #008080')
				div(class='nav-wrapper', style='max-width:1080px; margin-left: auto; margin-right: auto')
					a(class='brand-logo', href='#') 
						img(src='/img/ocdp.png', height='60px')
					ul(id='nav-mobile', class='right hide-on-med-and-down')
						li 
							a(href='#') Home
						li 
							a(href='#') About
						li 
							a(href='#') Devices
						li 
							a(href='#') Forum
						
			#content
				block content
			#footer